<h4>Who we are</h4>

<!-- Stats-->
{{> widgets/stats }}
<!-- / Stats-->

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Sed lobortis nibh augue</a>,
    ut blandit <a href="#">lorem hendrerit non</a>. Donec finibus at lacus in efficitur nunc
    fringilla, dui quis
    vestibulum varius.</p>
<a href="#">Find out more</a>
<picture>
    <img src="{{webRoot}}/assets/images/team-photo.png"
        alt="{{ config.defaultImgAlt }}">
</picture>


<!-- SVG shapes-->
{{> svg/svg-shape-one }}
{{> svg/svg-shape-two }}
{{> svg/svg-shape-seven }}
{{> svg/svg-shape-four }}
{{> svg/svg-shape-three }}
{{> svg/svg-shape-five }}
{{> svg/svg-shape-eight }}
<!-- / SVG shapes-->