<!-- Hero Text-->
<h1>Design and launch landing pages faster.</h1>
<h2>Collaborate, iterate and launch landing pages through
    our app or locally through our NPM package.</h2>
<a href="#">
    <i class="ri-play-circle-line align-bottom me-1"></i> 
    How it works
</a>

<a href="#">
    Get started
</a>
<a href="#">
    Start free trial
</a>
<ul>
    <li>
        <i class="ri-checkbox-circle-fill ri-lg"></i> 
        No credit card required
    </li>
    <li>
        <i class="ri-checkbox-circle-fill ri-lg"></i> 
        Cancel anytime
    </li>
    <li>
        <i class="ri-checkbox-circle-fill ri-lg"></i> 
        30 day free trial
    </li>
</ul>
<!-- /Hero Text-->

<!-- Hero Graphic-->
<code class="highlight fs-8"
data-typed='{"backSpeed":2, "strings": ["$&nbsp;npm&nbsp;install&nbsp;sigma<br/><span class=\"text-success\">Sigma&nbsp;package&nbsp;installed 👍</span><br/><br/>$&nbsp;npm&nbsp;start&nbsp;design<br/><span class=\"text-success\">Start&nbsp;sharing&nbsp;your&nbsp;designs&nbsp;instantly...</span><br/><br/>$&nbsp;npm&nbsp;launch&nbsp;design<br/><span class=\"text-success\">Push&nbsp;directly&nbsp;to&nbsp;one&nbsp;of&nbsp;our&nbsp;integrated&nbsp;hosts! 🚀</span>"]}'></code>
<!-- / Hero Graphic-->

<!-- Hero SVGS-->
{{> svg/svg-shape-two }}
{{> svg/svg-shape-one }}
{{> svg/svg-shape-four }}
<!-- / Hero SVGS-->