<!-- Highlight One-->

        <!-- Highlight One Image Section-->
            <picture>
                <img src="{{webRoot}}/assets/images/feature-1.jpeg"
                    alt="{{ config.defaultImgAlt }}">
            </picture>
            <picture>
                <img src="{{webRoot}}/assets/images/profile-small-2.jpeg" alt="{{config.defaultImgAlt}}">
            </picture>
            <small>I like it. 👍 Can we try a different shade of orange for the nav? </small>
            <span>12 mins ago</span>
            <picture>
                <img src="{{webRoot}}/assets/images/profile-small-3.jpeg" alt="{{config.defaultImgAlt}}">
            </picture>
            <small>Orange updated in header and footer.</small>
            <span>5 mins ago</span>

            <!-- Hightlight One SVG Shape-->
            {{> svg/svg-shape-nine }}
            <!-- /Hightlight One SVG Shape-->

        <!-- /Highlight One Image Section-->

        <!-- Highlight One Text Section-->
        <p>Build together</p>
        <h4>You need collaboration. We've got you covered.</h4>
        <p>Use our builder to collaborate with your team members during all stages of your landing page build.</p>
        <a href="#">Let's get started &rarr;</a>
        <!-- /Highlight One Text Section-->

<!-- /Hightlight One-->

<!-- Highlight Two-->

        <!-- Highlight Two Image Section-->
            <picture>
                <img src="{{webRoot}}/assets/images/feature-2.jpeg"
                    alt="{{ config.defaultImgAlt }}">
            </picture>
            <picture>
                <img src="{{webRoot}}/assets/images/logos/logo-12.svg" alt="{{config.defaultImgAlt}}">
            </picture>
            <picture>
                <img src="{{webRoot}}/assets/images/logos/logo-10.svg" alt="{{config.defaultImgAlt}}">
            </picture>
            <picture>
                <img src="{{webRoot}}/assets/images/logos/logo-11.svg" alt="{{config.defaultImgAlt}}">
            </picture>
            <span>👍</span>

            <!-- Hightlight Two SVG Shape-->
            {{>svg/svg-shape-nine }}
            <!-- /Hightlight Two SVG Shape-->

        <!-- /Highlight Two Image Section-->

        <!-- Highlight Two Text Section-->
        <p>Build faster</p>
        <h4>One-click deployment to your favourite host.</h4>
        <p>Use our templates to build and launch your landing page faster than your dev team.</p>
        <a href="#">Start your free trial &rarr;</a>
        <!-- /Highlight Two Text Section-->

<!-- /Hightlight Two-->