    <!-- menu row-->
    <span>
        <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline opacity=".4" points="2 12 12 17 22 12"></polyline></svg>
    </span>
    <h6>Tasks planner</h6>
    <p>Plan and schedule your weekly tasks on web or mobile through our desktop or mobile apps.</p>
    <a href="#">Read more &rarr;</a>
    <!-- /menu row-->

    <!-- menu row-->
    <span>
        <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect opacity=".3" x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
    </span>
    <h6>Team collaborations</h6>
    <p>Invite unlimited team members to view, edit, comment and create landing pages with you.</p>
    <a href="#">Read more &rarr;</a>
    <!-- /menu row-->    

    <!-- menu row-->
    <span>
        <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="18" cy="18" r="3"></circle><circle cx="6" cy="6" r="3"></circle><path opacity=".4" d="M13 6h3a2 2 0 0 1 2 2v7"></path><line opacity=".4" x1="6" y1="9" x2="6" y2="21"></line></svg>
    </span>
    <h6>Version control</h6>
    <p>Full integration with Git, GitLab and Bitbucket to easily allow version control.</p>
    <a href="#">Read more &rarr;</a>
    <!-- /menu row-->

<!-- Latest from the blog-->
<p>From the blog</p>
<a href="#">The ultimate guide to event project management &rarr;</a>
<a href="#">How to use Agile to implememt Scrum method &rarr;</a>
<a href="#">What is the best software version control? &rarr;</a>
<!-- / Latest from the blog-->