<!-- Footer-->
<footer class="{{configClassList}} {{classList}}">

        <!-- Free trial -->
        <h2>Try Sigma for free for 30 days with unlimited
            features.</h2>
        <a href="#" role="button">Start free trial</a>
        <!-- Free trial-->

    <!-- Footer Menus-->

            <!-- Footer Logo-->
            <a
                href="#">
                <!-- Logo SVG Icon-->
                <span>
                    {{> logo/logo-icon }}
                </span>
                <!--/ Logo SVG Icon -->
                <span>Sigma</span>
            </a>
            <!-- /Footer Logo-->


            <!-- Footer socials-->
            <ul>
                <li><a href="#"><i class="ri-facebook-circle-line ri-lg"></i></a></li>
                <li><a href="#"><i class="ri-twitter-line ri-lg"></i></a></li>
                <li><a href="#"><i class="ri-instagram-line ri-lg"></i></a></li>
                <li><a href="#"><i class="ri-snapchat-line ri-lg"></i></a></li>
            </ul>
            <!-- Footer socials-->

            <!-- Menu-->
                <h6>Product</h6>
                <ul>
                    <li><a href="#">Page builder <span>new</span></a></li>
                    <li><a href="#">AI generator</a></li>
                    <li><a href="#">Landing page templates</a></li>
                    <li><a href="#">Sketch plugin</a></li>
                    <li><a href="#">Figma addon <span>beta</span></a></li>
                    <li><a href="#">XD integration</a></li>
                </ul>
            <!-- /Menu-->

            <!-- Menu-->
            <h6>Company</h6>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our core values</a></li>
                <li><a href="#">Join our team</a></li>
                <li><a href="#">Our blog</a></li>
                <li><a href="#">Latest news</a></li>
                <li><a href="#">Share price</a></li>
            </ul>
            <!-- /Menu-->

            <!-- Menu-->
                <h6>Navigation</h6>
                <ul>
                    <li><a href="#">Start free trial</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Help & support</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Forgotten password</a></li>
                </ul>
            </div>
            <!-- /Menu-->

            <!-- Menu-->
                <h6>Legals</h6>
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="#">Cookie policy</a></li>
                    <li><a href="#">Refund policy</a></li>
                    <li><a href="#">GDPR information</a></li>
                    <li><a href="#">Company legals</a></li>
                </ul>
            <!-- /Menu-->

    <!-- Footer Menus-->

    <!-- Footer bottom-->
    <span>All rights reserved &copy Sigma 2021</span>
    <span>Terms of service  |  Security policy</span>
    <!-- Footer bottom-->

</footer>
<!-- / Footer-->

<!-- Additional imports (modals, offcanvas)-->
{{> footer/imports }}
<!-- / Additional imports-->